<!doctype html>

<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Product Review API</title>

    <link rel="stylesheet" href="style.css?">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- navbar -->
    <div class="container">
        <div class="image">
            <img class="logo" src="logo.jpg">
        </div>
        <div class="container2">
            <div class="left">
                <ul><b>Introdução</b></ul>
                <ul>Descrição</ul>
                <ul>Propósito</ul>
                <ul>Próximos Passos</ul>
                <br>
                <ul><b>Recursos</b></ul>
                <ul>Adicionar</ul>
                <ul>Ler</ul>
                <ul>Editar</ul>
                <ul>Deletar</ul>
                <br>
                <ul><b>Tecnologias</b></ul>
                <ul>Flask</ul>
                <ul>Git</ul>
                <ul>ElephantSQL</ul>
                <ul>Render.com</ul>
                <ul>Insomnia</ul>
                <ul>Bibliotecas</ul>
            </div>
            <div class="right">
                <h1>Product Review API</h1>
                <p>API para avaliação de testabdi 123 qusaero dsad faedesf testabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesf </p>
                <br>
                <p>API para avaliação de testabdi 123 qusaero dsad faedesf testabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesf </p>
                <br>
                <p>API para avaliação de testabdi 123 qusaero dsad faedesf testabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesf </p>
                <br>
                <h2>Recursos</h2>
                <p>API para avaliação de aaaaaautos</p>
                <br>
                <p>API para avaliação de testabdi 123 qusaero dsad faedesf testabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesf </p>
                <br>
                <p>API para avaliação de testabdi 123 qusaero dsad faedesf testabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesf </p>
                <br>
                <p>API para avaliação de testabdi 123 qusaero dsad faedesf testabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesf </p>
                <br>
                <h2>Tecnologias</h2>
                <p>API para avaliação de aaaaaaaaaaaaarodutos</p>
                <br>
                <p>API para avaliação de testabdi 123 qusaero dsad faedesf testabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesf </p>
                <br>
                <p>API para avaliação de testabdi 123 qusaero dsad faedesf testabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesf </p>
                <br>
                <p>API para avaliação de testabdi 123 qusaero dsad faedesf testabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesf </p>
                <br>
                <p>API para avaliação de testabdi 123 qusaero dsad faedesf testabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesf </p>
                <br>
                <p>API para avaliação de testabdi 123 qusaero dsad faedesf testabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesftestabdi 123 qusaero dsad faedesf </p>
                <br>
            </div>

        </div>
</body>

</html>