<!doctype html>

<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Product Review API</title>

    <link rel="stylesheet" href="style.css?">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
</head>

<body>

    <div class="navbar clear nav-top">
        <div class="row content">
            <a href="#"><img class="logo" src="logo.jpg"></a>
            <a class="right" href="mailto:gabrielgiacomopaes@gmail.com" target="_blank"><i class="fas fa-paper-plane"></i>&nbsp; gabrielgiacomopaes@gmail.com</a>
        </div>
    </div>

    <div class="container clear">
        <div class="row wrapper">

            <div class="sidepanel">

                <a class="title" href="#">Introdução</a>
                
                <a class="section" href="#">Recursos</a>

                <div class="divider left"></div>

                <a class="title" href="#basicfeatures">Tecnologias</a>

                <a class="section" href="#basicfeatures">Flask</a>
                <a class="section" href="#basicfeatures">Git</a>
                <a class="section" href="#feature3">Insomnia</a>
                <a class="section" href="#feature3">ElephantSQL</a>
                <a class="section" href="#feature3">Bibliotecas</a>

                <div class="divider left"></div>
            
             <div class="space double"></div>

            </div>

            <div class="right-col">
            


                <h1 >Introdução</h1>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
            
                <h2>Funções</h2>
             
                <p><b>App Version 1.0.0.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><b>App Version 1.0.0.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><b>App Version 1.0.0.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><b>App Version 1.0.0.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><b>App Version 1.0.0.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><b>App Version 1.0.0.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                <h2>Tecnologias</h2>
                
                <b>tec 1</b>
                <p>teste</p>
                
                <b>tec 1</b>
                <p>teste</p>

                <b>tec 1</b>
                <p>teste</p>

                <b>tec 1</b>
                <p>teste</p>

            </div>

        </div>


    </div>


</body>

</html>