/* import montserrat font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    margin: 30;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 300px;
    height: auto;
    margin: 20px;
}

body{
    width: 88vw;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container2 {
    display: flex;
    flex-direction: row;
}

.right {
    width: 100%;
    flex: 3;
    text-align: left;
    text-wrap: wrap;
}

.left {
    width: 30vh;
    margin: 0 auto;
    flex: 1;
}



ul {
    margin: 5px;
}